<div *ngIf="!selectedAuthor">
  <h3>Sorry, can't find the requested author...</h3>
</div>
<div *ngIf="selectedAuthor">
  <h3>Here are details of the Author {{ selectedAuthor.id }}</h3>
  <div class="row">
    <div class="col-3">First Name:</div>
    <div class="col-9">{{ selectedAuthor.firstName }}</div>
  </div>
  <div class="row">
    <div class="col-3">Last Name:</div>
    <div class="col-9">{{ selectedAuthor.lastName }}</div>
  </div>
  <div class="row" *ngIf="selectedAuthor.bio">
    <div class="col-3">Bio:</div>
    <div class="col-9">{{ selectedAuthor.bio.biodata }}</div>
  </div>
  <div class="row" *ngIf="selectedAuthor.books && selectedAuthor.books.length > 0">
    <div class="col-3">Books:</div>
    <div class="col-9">
      <span *ngFor="let book of selectedAuthor.books; let isFirst = first">
        {{ book.title }}<span *ngIf="!isFirst">, </span>
      </span>
    </div>
  </div>
</div>
